* {
    box-sizing: border-box;
    /* làm cho width và height của một phần tử bao gồm cả padding và border, */
    /*  width: 200px;  
    padding: 20px;  
    border: 5px solid black;   */
    /* box1 (không có box-sizing: border-box;): Chiều rộng thực tế của box1 sẽ là 200px + 20px (padding trái) + 20px (padding phải) + 5px (border trái) + 5px (border phải) = 250px.
    box2 (có box-sizing: border-box;): Chiều rộng thực tế của box2 sẽ là 200px. padding và border sẽ được tính vào bên trong kích thước 200px đó, làm cho nội dung bên trong nhỏ lại. */
}

:root {
    /* Dat bien */
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
    /* Tại sao lại là 62.5%?
    Kích thước phông chữ mặc định của trình duyệt thường là 16px. Khi bạn đặt font-size của phần tử html thành 62.5%, bạn đang làm cho kích thước phông chữ cơ sở trở thành 10px (62.5% của 16px là 10px).
    Sử dụng rem dễ dàng hơn: Đơn vị rem (root em) tương ứng với kích thước phông chữ của phần tử gốc (phần tử html). Khi bạn đã đặt kích thước phông chữ gốc thành 10px, bạn có thể dễ dàng tính toán kích thước phông chữ bằng rem. Ví dụ:
    1rem = 10px */
}

body {
    font-size: 1.6rem;
    /* sans-serif la font du phong */
    font-family: "Poppins", sans-serif;
}

/* Common - dung chung o nhieu noi nen khong fix cung, khong xai margin auto vi se lam co top voi bot nua*/
a {
    /* Toan bo the a khong gach chan  */
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    /* Neu man hinh nho hon 1110 thi se an cai maxwidth 100% va moi ben trai phai can le 24  */
    margin-left: auto;
    margin-right: auto;
}

.btn {
    /* the a la the inline */
    display: inline-block;
    padding: 18px 16px;
    /* padding tren duoi trai phai  */
    border-radius: 8px;
    background: var(--primary-color);
    min-width: 98px;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    /* hieu ung */
    opacity: 0.9;
}

.line-clamp {
    /* Kẹp đường aka nếu quá 2 dòng thì chỉ hiển thị ... */
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    /* Nếu không được khai báo thì giá trị mặc định là 2 */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ==================== Header ==================== */
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
    /* Để cuộn thấy */
}

.hero-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #e6f0ff;
    height: calc(100vh - 90px);
}

.navbar {
    /* nam ngang thi su dung flex, chinh cho nam giua theo chieu doc */
    display: flex;
    align-items: center;
    /* padding-top: 48px; */

    padding: 12px 0;
    


    /* neu su dung margin thi se day nguyen cai mau nen luon */
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .actions {
    /* day le ben trai qua cho het khoang trong, the se nam o le phai */
    margin-left: auto;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
    /* dung padding de tang vung bam nut, khong dung margin */
    /* display inline block se va cham voi cac thanh phan xung quanh */
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 13rem;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687e90;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.018rem;
}

.hero .title {
    margin-top: 0.8rem;
    color: #000336;
    font-size: 6.2rem;
    font-weight: 650;
    line-height: 1.19; /* 118.75% */
}

.hero .desc {
    margin-top: 3rem;
    color: #5a6473;
    font-size: 1.78;
    font-weight: 400;
    line-height: 3.2rem;
}

.hero-cta {
    min-width: 17rem;
    margin-top: 4rem;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    /* Tinh toan dua tren ti le, su dung can nut butoon voi cai chan nha */
    bottom: 0;
}

/* =========== Clients =============== */
.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
    /* Top:43, bot:64 */
    /* Sửa cho padding ở bên trong chứ không phải chỉ margin */
}

.clients .row {
    display: flex; /* dan ngang */
    justify-content: space-between; /* dan deu ra 2 ben */
}

.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.clients .row-desc {
    margin-top: 2.3rem;
}

.clients .images {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Can giua truc ngang */
}

.clients .images a {
    display: flex;
    align-items: center;
    /* Thêm để nó ăn cái height 90, với align item */
    height: 90px;
    padding: 0 42px;
    /* Cho khỏi bị dài ngắn */
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0px 10px 20px 0px #0000001a;
}

/* ============== Guides ================ */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
    position: relative;
}

.guides .sub-title::before {
    position: absolute;
    /* The cha phai la the relative */
    top: -10px;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.guides .desc {
    /* The block can giua kieu khac */
    width: 459px;
    max-width: 100%;
    /* Tranh xuat hien thanh cuon ngang */
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.guide-item {
    margin: 0 70px;
    /* can trai phai 70 */
    text-align: center;
    /* Can the img vi the li la inline */
}

.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 22px;
    /* font size 20 -> 22:20 = 1.1 */
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    /* The a display la inline nen khong an duoc margintop, phai them vao display inline block */
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ========== FEATURED ========= */
.features {
    margin-top: 41px;
    height: 727px;
    background: #f5fafe;
}

.featured_properties {
    padding-top: 120px;
    width: 1110px;
    max-width: calc(100% - 48px);
    /* Neu man hinh nho hon 1110 thi se an cai maxwidth 100% va moi ben trai phai can le 24  */
    margin-left: auto;
    margin-right: auto;
}

.featured_properties .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.featured_properties .sub-titlebox {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.featured_properties .sub-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 0.5;
    color: #5a6473;
}

.featured_properties .text {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #0689ff;
}

.featuresimage {
    margin-top: 68px;
    width: 1440px;
    max-width: calc(100% - 48px);
    /* Neu man hinh nho hon 1110 thi se an cai maxwidth 100% va moi ben trai phai can le 24  */
    margin-left: auto;
    margin-right: auto;
}

.listfeature {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 1110px;
    max-width: calc(100% - 48px);
}
.nikko {
    width: 350px;
    height: 357px;
    background: #ffffff;
}

.nikko .text1 {
    margin-top: 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #000339;
    margin-left: 20px;
}

.nikko .text2 {
    margin-top: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #a3a6ab;
    margin-left: 20px;
}

.symbol .text {
    color: #4d4d52;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.symbol {
    margin-top: 20px;
    display: flex;
    align-items: center; /* Can giua truc ngang */
    margin-left: 20px;
    margin-right: 40px;
    justify-content: space-between;
}

/* ========= Neighbourhood======= */
.a {
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    color: #000339;
}

.b {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #a7a7a7;
}

.house .text1 {
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: #000339;
}

.house .text2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5a6473;
}

/* ======= FEATURED ========== */
.featured {
    margin-top: 120px;
    padding: 110px 0;
    /* Padding thì nó mới đệm lên được */
    background: #f5fafe;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    /* Dan ngang */
    justify-content: space-between;
    /* Moi cai mot dau */
    margin-top: 15px;
}

.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .link {
    display: flex;
    align-items: center;
    /* Can giua truc cho mui ten va chu ngang */
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px;
    /* Tạo khoảng cách */
    margin-top: 70px;

    /* Cái này tự thêm cho nó canh đều 2 bên */
    width: 1110px;
    max-width: calc(100% - 48px);
    /* Neu man hinh nho hon 1110 thi se an cai maxwidth 100% va moi ben trai phai can le 24  */
    margin-left: auto;
    margin-right: auto;
}

.featured .item {
    flex: 1;
    /* Tổng kích thước thẻ cha sẽ được chia đều cho thẻ con  */
    background: #ffffff;
    border-radius: 12px;
    /* để bo hết cái hình, cho nó đỡ bị trắng */
}

.featured .item .thumb {
    width: 100%;
    /* Cho phần rộng của hình ảnh nganh với độ rộng thẻ */
    height: 227px;
    /* Chiều cao ảnh 227, nhưng ảnh sẽ bị méo */
    object-fit: cover;
    /* Giữ đúng tỷ lệ ảnh, lấp đầu khung hình */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /* Vẫn phải border để chắc ảnh được bo, nếu không nó sẽ bị trồi ra ngoài dù là thẻ con  */
}

.featured .item .body {
    padding: 17px 20px 24px;
    /* Trên 17px, trái phải 20, dưới 24px */
}

.featured .item .title a {
    font-weight: 600px;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;

    /* Nếu thêm nhiều dòng thì sẽ bị giới hạn lại, 2 dòng rồi sau đó là ... */
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all;
    /* Bẻ đường link xuống, chứ cái bắt ... ko xi nhê với link */
}

.featured .item .info {
    display: flex;
    align-items: center;
    /* Phải có display flex rồi mới căn giữa trục ngang dc  */
    margin-top: 21px;
}

.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}
/* Thẻ giả, chọn cái icon đầu tiên */

/* ================= STATS ================= */
.stats {
    margin-top: 75px;
    padding: 50px;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1048px;
}

.stats .img-block,
.stats .info {
    width: 50%;
    /* Đo cái nhà với cái đè lên là 520:1048, gần bằng 50%, 2 cục đó chia 1 nửa ra  */
}

.stats .img-block {
    position: relative;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    /* Trên 45, trái phải 22, dưới 40 */
    border-radius: 0px 0px 12px 12px;
    /* Theo chiều kim đồng hồ, góc trên bên trái, góc trên bên phải, góc dưới bên phải,góc dưới bên trái*/
    background-color: #ffffff;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
    /* Bình thường thì phải thêm display block nữa, tuy nhiên thẻ cha ở đây đẫ là display flex nên ok */
}

.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .separate {
    margin-top: 25px;
    /* Cái này là cái vạch ngăn cách á  */
    height: 1px;
    /* Không cần đặt width, nó tự có chiều dài luôn */
    background: #e9e9e9;
}

.stats .avatarblock {
    display: flex;
    flex-wrap: wrap;
    /* Tới ranh giới thì sẽ xuống hàng */
    gap: 16px;
    /* Trái phải 16px, trên dứoi 16px */
    margin-top: 26px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* Thẻ cha ghi vầy thì thẻ con sẽ căn giữa  */
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
    /* Để nó có thể đè 1 phần lên ảnh */
}

.stats .avatar-1 {
    background: #1f3bb1;
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;

    /* Line-height bằng với chiều cao của avatar là 16px để căn dọc, text-align căn ngang để center */
    letter-spacing: -0.2;
    color: #ffffff;
}

.stats .row .img-block .image {
    display: block;
    margin-left: auto;
    /* Bị đẩy sang tận cùng bên phải luôn, dùng với display block */
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
    /* Để không bị méo ảnh, fix kich thuoc luon */
}

.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: block;
    /* Xet duoc width, hright */
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5a6473;
}

/* Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    width: 671px;
    /* Gioi han lai de khong xuyen qua anh */
    max-width: 100%;
    /* Reponsive */
    padding: 0 80px;
    /* Tren duoi 0, trai phai 80  */
}

.subscription .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subscription .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #ffff;
    color: #002366;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Footer */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
    /* Khoang cach giua cac cot */
}

.footer .heading {
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.footer .list,
.footer.desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
    /* Khong xuong hang */
}

.footer .desc {
    white-space: normal;
    /* De xuong hang */
    line-height: 1.75;
}

.footer .social {
    margin-top: 40px;
    display: flex;
    /* de khong bi khoang cach */
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #f9f9f9;
}


.footer .social-link + .social-link {
    /* social link đứng sau social link thì bị tác động */
    margin-left: 16px;
}


.footer .social-link:hover {
    background: #f0eded;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    /* Canh giua cho 2 cai  */
    justify-content: space-between;
    /* 2 cai moi cai 1 ben */
    margin-top: 81px;
}

.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
